@import url("base.css");

p {
    padding: 0;
    margin: 0;
}

.main__box {
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    z-index: 1;
    background-color: var(--main-box-color);
}

:root {
    --edit-profile-picture-color: rgb(84 101 111 / 60%);
}

.inform__messages {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.inform__message {
    /* opacity: 0.8; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 60px;
    border-radius: 5px;
}

.inform__message img {
    margin: 0 7px;
    width: 40px;
    height: 40px;
}

.inform__message__type {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.inform__message__content {
    font-weight: 500;
    font-size: 13px;
}

img.cancel__icon {
    margin: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
}

.success__message {
    transition: 0.3s;
    display: none;
    color: rgb(0, 71, 0);
    background-color: rgb(201, 236, 131);
}

.error__message {
    display: none;
    color: darkred;
    background-color: rgb(223, 189, 189);
}

.sidebar {
    float: left;
    width: 25%;
    height: 100%;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
}

.user__data {
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    border-right: 1px solid var(--user-data-border-color);
    background-color: var(--main-box-color);
}

#user__pic {
    cursor: pointer;
}

.profile__picture {
    height: 40px;
    margin-right: auto;
}

.navbar__logo {
    cursor: pointer;
    margin-left: 8px;
    padding: 8px 0;
    width: px;
    height: 40px;
}

.search {
    /* width: 100%; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--user-data-border-color);
}

.search__form {
    /* float: left; */
    width: 80%;
    /* flex-grow: 1; */
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 7px;
    margin-left: 12px;
    padding: 7px 0;
    padding-right: 10px;
    padding-left: 35px;
    background-color: var(--main-box-color);
    border-radius: 8px;
}

.search__form button {
    border: none;
    padding: 0;
}

.search__input {
    width: 100%;
    padding: 2px 2px;
    border: 0;
    border-radius: 5px;
    background-color: inherit;
    color: var(--search-text-color);
}

.search__input:focus {
    outline: none !important;
}

.search__logo {
    position: absolute;
    top: 20%;
    left: 5%;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
}

.search a {
    flex-grow: 0;
}

.filter__logo {
    float: right;
    margin: 0 8px;
    width: 26px;
    height: 26px;
}

.chat__users {
    display: flex;
    height: 100%;
    overflow-y: scroll;
    flex-direction: column;
}

.chat__user { 
    min-height: 72px;
    display: flex;
    flex-direction: row;
}

.username {
    font-size: 15px;
    font-weight: 500;
}

.user__detail__data {
    width: 80%;
    padding-left: 5px;
    padding-right: 15px;
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-bottom-color);
}

.name__and__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.user__profile__picture__container {
    float: left;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__profile__picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.last__message__date {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 10px;
}

.last__message {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.chat__box {
    float: right;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat__box__header {
    height: 64px;
    display: flex;
    flex-direction: row;
}

.chat__box__header__user {
    float: left;
    width: 50%;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat__box__header__detail {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.chat__box__header__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat__box__header__actions .navbar__logo {
    padding: 8px;
}

.chat__box__header__profile__picture {
    float: left;
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__box__footer {
    margin-bottom: 5px;
    padding: 0 20px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat__box__footer__icon {
    /* flex-grow: 1; */
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.message__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.message__form textarea{
    resize: none;
    overflow: hidden;
    flex-grow: 1;
    height: 70%;
    background-color: var(--sidebar-background-color);
    border-radius: 15px;
    padding: 10px;
    border: none;
    /* margin: 0 15px; */
    font-size: 18px;
}

.message__form textarea:focus {
    outline: none !important;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px;
    flex-grow: 1;
    background-image: url('../img/greenfone2.jpg');
    box-shadow: 0 90vh 90vh  var(--send-message-background-color) inset;
}

.message {
    display: flex;
    flex-direction: row;
    max-width: 25vw;
    min-height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message .content {
    display: flex;
    align-items: center;
    /* inline-size: 100%; */
    word-break: break-all;
    font-size: 12px;
    margin: 7px;
}

.message .date {
    display: flex;
    align-items: flex-end;
    font-size: 9px;
    color: var(--secondary-text-color);
}

.messages .send {
    background-color: var(--send-message-background-color);
    margin-left: auto;
}

.messages .get {
    background-color: var(--sidebar-background-color);
    margin-right: auto;
}

.user__edit {
    display: none;
    flex-direction: column;
    float: left;
    width: 25%;
    height: 100%;
    background-color: var(--main-box-color);
}

.arrow__left {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.user__edit header {
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    background-color: var(--edit-user-header-background-color);
}

.main__edit {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.profile__picture__label {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0 25px;
    color: white;
    background:
        linear-gradient(
            var(--edit-profile-picture-color),
            var(--edit-profile-picture-color)),
        url('../img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png');
    background-size: cover;
    align-items: center;
    transition: 0.3s;
}

.profile__picture__label:hover {
    filter: brightness(70%);
}

#pic__label {
    display: none;
}

.label__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__username {
    margin-top: 20px;
    background-color: white;
    color: var(--search-text-color);
}

.label__username {
    padding: 7px 10px;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.edit__username input {
    width: 100%;
    padding: 7px 10px;
    padding-top: 0;
    font-size: 16px;
    border: none;
    transition: 0.3s;
}

.edit__username input:focus {
    outline: none !important;
    border-bottom: 1px solid var(--button-background-color) ;
}

.edit__warning {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 3px;
    font-size: 11px;
    color: var(--secondary-text-color);
}

.submit__changes {
    position: absolute;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--button-background-color); 
    bottom: 3vh;
    right: 1vw;
    transition: 0.3s;
}

.submit__changes:hover {
    box-shadow: 10px 10px 100px var(--button-background-hover-color) inset;
}

.new__chat {
    width: 25%;
    height: 100%;
    float: left;
    display: none;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
}

.new__chat header {
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    background-color: var(--edit-user-header-background-color);
}

.new__chat__search {
    position: relative;
    display: flex;
    flex-direction: row;
}

.new__chat__search__logo {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 35%;
    left: 7%;
}

.new__chat__search__input {
    border-radius: 5px;
    border: none;
    margin: 15px 12px;
    padding: 8px 40px;
    width: 100%;
    background-color: var(--main-box-color);
}

.new__chat__search__input:focus {
    outline: none !important;
}

.add__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(33, 53, 36);
}

.add__group__icon__background {
    border-radius: 50%;
    margin: 0 15px;
    border: none;
    background-color: var(--edit-user-header-background-color);
    width: 65px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__group__icon__background:hover {
    filter: brightness(120%);
}

.add__group__icon__background img {
    width: 30px;
    height: 30px;
}

.add__group span {
    width: 100%;
    padding: 12px 0;
    margin-right: 20px;
    border-bottom: 1px solid var(--border-bottom-color);
}

.our__contacts__text {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.new__chat__users {
    margin-left: 7px;
}

.sidebar__settings {
    display: none;
    position: absolute;
    width: 13vw;
    top: 11.5vh;
    z-index: 2; 
    background-color: var(--sidebar-background-color);
}

#sidebar__settings {
    right: 74.3vw;
}

#chat__box__header__settings {
    right: 6.5vw;
}

.sidebar__settings nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 9px 0;
    box-shadow: 3px 2px 8px var(--search-text-color);
}

.sidebar__settings nav a {
    color: var(--search-text-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    height: 40px;
    text-decoration: none;
}

.sidebar__settings nav a:hover {
    background-color: var(--user-data-border-color);
}