<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Doc</title>
</head>
<body>
    <div class="main__background">
        <div class="main__background__first"></div>
        <div class="main__background__second"></div> 
    </div>

    <div class="main__box">
        <div class="new__chat" id="new__chat">
            <header>
                <?xmlversion="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg id="new__chat__close" class="arrow__left" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L6.41421 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H6.41421L11.7071 18.2929C12.0976 18.6834 12.0976 19.3166 11.7071 19.7071C11.3166 20.0976 10.6834 20.0976 10.2929 19.7071L3.29289 12.7071C3.10536 12.5196 3 12.2652 3 12C3 11.7348 3.10536 11.4804 3.29289 11.2929L10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="#fff"/>
                </svg>
                <span>New chat</span>
            </header>
            <form class="new__chat__search">
                <img src="img/search.png" class="new__chat__search__logo" alt="Search Icon">
                <input type="text" class="new__chat__search__input" placeholder="Search chat or new chat">
            </form>
            <div class="add__group">
                <div class="add__group__icon__background">
                    <img src="img/social.png" alt="Group Icon">
                </div>
                <span>Add Group</span>
            </div>
            <span class="our__contacts__text">Our Contacts</span>
            <div class="chat__users new__chat__users">
                <div class="chat__user">
                    <div class="user__profile__picture__container">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="Profile Picture">
                    </div>
                    <div class="user__detail__data">
                        <div class="name__and__date">
                            <div class="username">Arsen Yeganyan</div>
                            <div class="last__message__date">27.12.2023</div>
                        </div>
                        <div class="last__message">mti dis</div>
                    </div>
                </div>
                <div class="chat__user">
                    <div class="user__profile__picture__container">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="Profile Picture">
                    </div>
                    <div class="user__detail__data">
                        <div class="name__and__date">
                            <div class="username">Arsen Yeganyan</div>
                            <div class="last__message__date">27.12.2023</div>
                        </div>
                        <div class="last__message">mti dis</div>
                    </div>
                </div>
                <div class="chat__user">
                    <div class="user__profile__picture__container">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="Profile Picture">
                    </div>
                    <div class="user__detail__data">
                        <div class="name__and__date">
                            <div class="username">Arsen Yeganyan</div>
                            <div class="last__message__date">27.12.2023</div>
                        </div>
                        <div class="last__message">mti dis</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="change__password" id="change__password">
            <header>
                <?xmlversion="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg id="change__password__close" class="arrow__left" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L6.41421 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H6.41421L11.7071 18.2929C12.0976 18.6834 12.0976 19.3166 11.7071 19.7071C11.3166 20.0976 10.6834 20.0976 10.2929 19.7071L3.29289 12.7071C3.10536 12.5196 3 12.2652 3 12C3 11.7348 3.10536 11.4804 3.29289 11.2929L10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="#fff"/>
                </svg>
                <span>Change password</span>
            </header>
            <div class="main__edit change__password__main">
                <form method="post" id="change__password__form">
                    <div class="edit__username">
                        <div class="label__username">
                            Old password   
                        </div>
                        <input type="text" class="password__changing__input" name="oldPassword" required>
                    </div>
                    <div class="edit__username">
                        <div class="label__username">
                            New password   
                        </div>
                        <input type="text" class="password__changing__input" name="newPassword" required>
                    </div>
                    <div class="error__msg" id="error__msg__in__change__password">Passwords dont match</div>
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <button class="submit__changes">Submit changes</button>
                </form>
            </div>
        </div>
        <div class="user__edit" id="user__edit">
            <header>
                <?xmlversion="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg id="user__edit__close" class="arrow__left" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L6.41421 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H6.41421L11.7071 18.2929C12.0976 18.6834 12.0976 19.3166 11.7071 19.7071C11.3166 20.0976 10.6834 20.0976 10.2929 19.7071L3.29289 12.7071C3.10536 12.5196 3 12.2652 3 12C3 11.7348 3.10536 11.4804 3.29289 11.2929L10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="#fff"/>
                </svg>
                <span>Profile</span>
            </header>
            <div class="main__edit">
                <form method="post" id="edit__form">
                    <label class="profile__picture__label" id="profile__picture__label" for="pic__label">
                        <div class="label__detail"><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 16C13.6569 16 15 14.6569 15 13C15 11.3431 13.6569 10 12 10C10.3431 10 9 11.3431 9 13C9 14.6569 10.3431 16 12 16Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 16.8V9.2C3 8.0799 3 7.51984 3.21799 7.09202C3.40973 6.71569 3.71569 6.40973 4.09202 6.21799C4.51984 6 5.0799 6 6.2 6H7.25464C7.37758 6 7.43905 6 7.49576 5.9935C7.79166 5.95961 8.05705 5.79559 8.21969 5.54609C8.25086 5.49827 8.27836 5.44328 8.33333 5.33333C8.44329 5.11342 8.49827 5.00346 8.56062 4.90782C8.8859 4.40882 9.41668 4.08078 10.0085 4.01299C10.1219 4 10.2448 4 10.4907 4H13.5093C13.7552 4 13.8781 4 13.9915 4.01299C14.5833 4.08078 15.1141 4.40882 15.4394 4.90782C15.5017 5.00345 15.5567 5.11345 15.6667 5.33333C15.7216 5.44329 15.7491 5.49827 15.7803 5.54609C15.943 5.79559 16.2083 5.95961 16.5042 5.9935C16.561 6 16.6224 6 16.7454 6H17.8C18.9201 6 19.4802 6 19.908 6.21799C20.2843 6.40973 20.5903 6.71569 20.782 7.09202C21 7.51984 21 8.0799 21 9.2V16.8C21 17.9201 21 18.4802 20.782 18.908C20.5903 19.2843 20.2843 19.5903 19.908 19.782C19.4802 20 18.9201 20 17.8 20H6.2C5.0799 20 4.51984 20 4.09202 19.782C3.71569 19.5903 3.40973 19.2843 3.21799 18.908C3 18.4802 3 17.9201 3 16.8Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>Change your profile picture</p>
                        </div>
                    </label>
                    <input type="file" name="profile__picture" id="pic__label">
                    <div class="edit__username">
                        <div class="label__username">
                            Your name    
                        </div>
                        <input type="text" id="edit__username__input" name="username">
                    </div>
                    <p class="edit__warning">Its not your username or PIN-code. Its the first name which will show to other users</p>
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <button class="submit__changes">Submit changes</button>
                </form>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="user__data">
                <img id='user__pic' src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="profile__picture" alt="Profile Picture">
                <nav>
                    <!-- <a href="#"><img src="img/community.png" class="navbar__logo" alt="Community"></a>
                    <a href="#"><img src="img/status.png" class="navbar__logo" alt="Status"></a>
                    <a href="#"><img src="img/network.png" class="navbar__logo" alt="Network"></a> -->
                    <a href="#"><img src="img/new-message.png" class="navbar__logo" id="new__chat__icon" alt="New Message"></a>
                    <a><img src="img/dots.png" class="navbar__logo" id="sidebar__settings__icon" alt="Settings"></a>
                    <div class="sidebar__settings" id="sidebar__settings">
                        <nav>
                            <a href="#" id="settings__new__chat">New chat</a>
                            <a href="#">Select chats</a>
                            <a href="#" id="settings__change__password">Change password</a>
                            <a href="#">Settings</a>
                            <a href="#" id="log__out">Log out</a>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="search">
                <form class="search__form">
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <button><img src="img/search.png" class="search__logo" alt="Search Icon"></button>
                    <input type="text" class="search__input" placeholder="Search chat or new chat">
                </form>
                <a href="#"><img src="img/alignment.png" class="filter__logo" alt="Filter Logo"></a>
            </div>
            <div class="chat__users" id="chat__users">
                <div class="chat__user">
                    <div class="user__profile__picture__container">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="Profile Picture">
                    </div>
                    <div class="user__detail__data">
                        <div class="name__and__date">
                            <div class="username">Arsen Yeganyan</div>
                            <div class="last__message__date">27.12.2023</div>
                        </div>
                        <div class="last__message">mti dis</div>
                    </div>
                </div>
                <div class="chat__user">
                    <div class="user__profile__picture__container">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="Profile Picture">
                    </div>
                    <div class="user__detail__data">
                        <div class="name__and__date">
                            <div class="username">Arsen Yeganyan</div>
                            <div class="last__message__date">27.12.2023</div>
                        </div>
                        <div class="last__message">mti dis</div>
                    </div>
                </div>
                <div class="chat__user">
                    <div class="user__profile__picture__container">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="Profile Picture">
                    </div>
                    <div class="user__detail__data">
                        <div class="name__and__date">
                            <div class="username">Arsen Yeganyan</div>
                            <div class="last__message__date">27.12.2023</div>
                        </div>
                        <div class="last__message">mti dis</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__box">
            <header class="chat__box__header">
                <div class="chat__box__header__user">
                    <div class="chat__box__header__profile__picture">
                        <img src="img/[removal.ai]_cb530dbb-90ac-4ea4-81cb-53aa823bde6e-user2.png" class="user__profile__picture" alt="revier profile__picture">
                    </div>
                    <div class="chat__box__header__detail">
                        <div class="chat__box__header__username username">Arsen Yeganyan</div>
                        <div class="chat__box__header__date last__message__date">27.12.2023</div>
                    </div>
                </div>
                <div class="chat__box__header__actions">
                    <a href="#"><img src="img/videocall.png" class="navbar__logo" alt="Action Icon"></a>
                    <a href="#"><img src="img/magnifying-glass.png" class="navbar__logo" alt="Action Icon"></a>
                    <a href="#"><img src="img/dots.png" class="navbar__logo" id="chat__box__header__settings__icon" alt="Action Icon"></a>
                    <div class="sidebar__settings" id="chat__box__header__settings">
                        <nav>
                            <a href="#">Contact info</a>
                            <a href="#">Select messages</a>
                            <a href="#">Close Chat</a>
                            <a href="#">Mute notifications</a>
                            <a href="#">Clear chat</a>
                            <a href="#">Delete chat</a>
                            <a href="#">Block</a>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="messages">
                <div class="message send">
                    <div class="content">Barev Pxikaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
                    <div class="date">11.13</div>
                </div>
                <div class="message get">
                    <div class="content">Barev Ampik</div>
                    <div class="date">11.14</div>
                </div>
            </div>
            <footer class="chat__box__footer">
                <a href="#"><img src="img/happiness.png" class="chat__box__footer__icon first" alt="Emojy Button"></a>
                <a href="#"><img src="img/plus.png" class="chat__box__footer__icon" alt="File Load Button"></a>
                <form class="message__form">
                    <textarea name="message"></textarea>
                </form>
                <a href="#"><img src="img/microphone.png" class="chat__box__footer__icon" alt="Speech To Text"></a>
            </footer>
        </div>
    </div>

    <div class="inform__messages">
        <div class="inform__message success__message" id="success__message">
            <img src="img/success.png" alt="Success Icon">
            <div>
                <div class="inform__message__type">success!</div>
                <div class="inform__message__content">Changes done successfully!</div>
            </div>
            <img src="img/cross.png" class="cancel__icon" alt="Cross Icon">
        </div>
        <div class="inform__message error__message" id="error__message">
            <img src="img/cancel.png" alt="Error Icon">
            <div>
                <div class="inform__message__type">error!</div>
                <div class="inform__message__content">Cannot do the previous operation!</div>
            </div>
            <img src="img/cross.png" class="cancel__icon" alt="Cross Icon">
        </div>
    </div>
    <script src="js/home.js"></script>
</body>
</html>