<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset_password.css">
    <title>Doc</title>
</head>
<body>
    <div class="main__background">
        <div class="main__background__first"></div>
        <div class="main__background__second"></div> 
    </div>

    <div class="login__box">
        <p class="login__text" id="login__text">Reset password</p>
        <p class="error__msg" id="error__msg"></p>
        <form method="post" class="login__form" id="reset__form">
            <input type="email" name="email" placeholder="Email" required>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button>Reset</button>
        </form>
        <form method="post" class="login__form" id="code__form">
            <input type="text" name="code" placeholder="Your code" required>
            <button>Submit</button>
        </form>
        <form method="post" class="login__form" id="new__password__form">
            <input type="password" name="newPassword" placeholder="New password" required>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button>Change</button>
        </form>
    </div>

    <script src="js/reset_password.js"></script>
</body>
</html>